<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690300287040-125mc7vr5r9qsut7vqeepu9l6s5d15lr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690300287040-125mc7vr5r9qsut7vqeepu9l6s5d15lr</string>
	<key>API_KEY</key>
	<string>AIzaSyB-3yc4QErTJupcQw4SV2bXgr3AOGO6jOI</string>
	<key>GCM_SENDER_ID</key>
	<string>690300287040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firecodeViolationDetection</string>
	<key>PROJECT_ID</key>
	<string>firecode-violation-detection</string>
	<key>STORAGE_BUCKET</key>
	<string>firecode-violation-detection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690300287040:ios:4964496870a38051dfc7a5</string>
	<key>DATABASE_URL</key>
	<string>https://firecode-violation-detection.firebaseio.com</string>
</dict>
</plist>